html {
  font-size: 10px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
  font-family: "Open Sans", sans-serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
  /*background-color: #00539F;*/
}
/* The navbar container */
.topnav {
  overflow: hidden;
  display: block;
}
.topnav a img{
  /*https://developer.mozilla.org/es/docs/Web/CSS/border-radius*/
  margin: 10px 0 0 10px;/*arriba der abajo izq*/
  border: 2px solid #f2f2f2;
  border-radius: 70%; 
  width:42px;
  height:42px;
  float: left;
  }
.topnav p {
  /*background-color: rgba(255,255,255,.8);*/
  float: left;
  bottom: -16px;
  left: 0;
  width: 100%;
  color: #00539F;
  margin: 0 0 10px 10px;/*arriba der abajo izq*/

  /*text-shadow: 3px 3px 1px black;*/
}
body {
  background-color: #FF9500;
  border: 5px solid black;
  
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  padding: 15px;
  background-color: green;
}
/* Left and right column */
.column.izq {
  width: 25%;
  -ms-transform: skewY(10deg); /* IE 9 */
  transform: skewY(-5deg); /* Standard syntax */
  margin-top: 15px;

}
/* Middle column */
.column.middle {
  width: 50%;
}
.column.der {
  width: 25%;
  -ms-transform: skewY(10deg); /* IE 9 */
  transform: skewY(5deg); /* Standard syntax */
  margin-top: 15px;

}
/**/
#todocontenido{
  visibility:visible;
  animation: moveC 3s;
}
@keyframes moveC {
  
  0%{
    visibility:hidden;
    opacity: 0.5;
  }
  100% {
    visibility:hidden;
    opacity: 0.5;

  }
}
/* Clear floats after the columns */
.row.topnav {
  content: "";
  display: table;
  clear: both;
  align-content: center;
}
#efectoElo{
  
  display: inline;
}
#efectoElo img{
  /*background: url(src/img/yoochun-frase.jpg) center no-repeat;*/
  border: 1px solid black;
  visibility: hidden;
  position: absolute;
  left: 20%;
  align-items: center;
  align-content: center;
  animation: mymove 3s;
 float: none;
}
@keyframes mymove {
  0% {
    transform: scale(1.0);
  }
  50% {
    border-radius: 50%;
  }
  100% {
    transform: scale(.3);
    border-radius: 50%;
    visibility:visible;
  }
}

.backImagen{ 
    background: url(src/img/yoochun-frase.jpg) center no-repeat;
    background-color: #CCCCCC;
    margin-top: 200px;
    /*
  {
    background-image: url("src/img/yoochun-frase.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #CCCCCC; /corregir sintaxis/
  }
  */
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

